{% extends 'CmsCoreBundle:Layout:login.html.twig' %}
{% block title 'Login' %}
{% block content %}
<div class="center-block">
    <div class="login-block">
        <form action="{{ path('core_auth_check') }}" id="login-form" class="orb-form" method="post">
            <header>
                <div class="image-block"><img src="{{ asset('bundles/cmscore/images/logo.png') }}" alt="User" /></div>
                Área Restrita
            </header>
                {% if error.message is defined %}
                    {{ error.message }}
                {% endif %}
            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-4">E-mail</label>
                        <div class="col col-8">
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="email" name="email" {% if email is defined %}value="{{ email }}"{% endif %}>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Senha</label>
                        <div class="col col-8">
                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password">
                            </label>
                            <div class="note"><a href="{{ path('core_auth_forget_password') }}">Perdeu sua senha?</a></div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col col-4"></div>
                        <div class="col col-8">
                            <label class="checkbox">
                                <input type="checkbox" name="remember" checked>
                                <i></i>Matenha-me logado
                            </label>
                        </div>
                    </div>
                </section>
            </fieldset>
            <footer>
                <button type="submit" class="btn btn-default">Entrar</button>
            </footer>
        </form>
    </div>
</div>
{% endblock %}